@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Titillium+Web:wght@300&display=swap');

/*-------------------------- Colors */

body {
  font-family: Poppins, sans-serif;
  color: #fafafa;
  background-color: black;
  min-height: 100vh;
}

.header-background{
  background-color: rgba(51, 51, 51, 0.5);
}

.title {
  color: #E04000;
}

#nav li {
  border-color: #212121;
}

.nav-item a{
  color: #E04000;
}


/*-------------------------- Header */


.header-background {
  min-height: 120px;
  margin: 0;
  position: relative;
}

.logo {
  background: url("../images/Samurai_Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  margin: 0;
  padding-top: 110px;
}

h1 {
  font-family: 'Titillium Web', 'sans-serif';
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 10px;
  font-size: 3em;
  padding: 25px 0 0 0;
  text-align: center;
}

.title:hover {
  text-decoration: none;
  color: #ad3404;
}

.nav-item{
  font-size: 20px;
  text-align: center;
  border-style: ridge;
  border-width: 5px;
  border-radius: 20px;
  border-right: 20px;
  border-left: 20px;
  padding: 10px 0 10px 0;
}

#nav li {
  margin: 1.5vw 1vw 1.5vw 1vw;
}

.nav-item span {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-item a:hover {
  text-decoration: none;
  color: #ad3404;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

/*-------------------------- Hero Image */

#hero-outer {
  height: 900px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 900px;
  width: 100%;
  background: url("../images/chippinin_albumcover_heroimage.jpg") no-repeat center center;
  background-size: cover;

  animation-name: heroimage-zoomout;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

#cover-text, #cover-text h2 {
  color: #fafafa;
}

#cover-text {
  font-size: 130%;
  font-family: 'Titillium Web', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  width: 500px;
  height: 250px;

  padding-top: 50px;

  background-color: rgba(51, 51, 51, 0.50);

  bottom: 10px;
  right: 3%;

  position: absolute;
}

.buy-now {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 20px;
  
  margin-top: 50px;
  
  padding-bottom: 50px;

  width: 200px;
  height: 50px;
}

/*-------------------------- Music Player */
.music-player-outer {
    margin: 75px 0 50px 0;
    width: 100%;
    text-align: center;
}

iframe {
  height: 250px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

.music-player-outer h3 {
  margin-bottom: 30px;
  font-size: 150%;
  text-align: center;
}

/*-------------------------- Footer */

footer {
  background-color: rgba(51, 51, 51, 0.5);
  height: 150px;
}

.social-links, #copyright {
  text-align: center;
}

#copyright {
  padding-top: 0.8rem;
}

.social-links i {
  font-size: 150%;
  margin: 1%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #E04000; 
}

.social-links i:hover {
  color: #ad3404;
}

.social-links li {
  display: inline;
}

/*-------------------------- Media Queries */

@media only screen and (max-width: 600px) {
  #hero-image {
    background: url("../images/chippinin-heroimage-mobile.png") no-repeat;
    background-size: cover;
    width: 100%;
  }
}
/*-------------------------- Animation */

@keyframes heroimage-zoomout {
  from{
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}